html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* global */

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  width: 85%;
  padding: 15px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.list {
  width: calc(100% - 88px);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.list-item {
  width: 190px;
  height: 120px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
  cursor: pointer;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  background: #c1c3c5;
  font-family: 'Rocher';
  base-palette: 3;
  font-size: 48px;
}


.card-front {
  background-image: url("../assets/images/card.jpg");
  background-position: center;
  background-size: cover;
}

.card-back {
  background: #fff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-img {
  height: 100%;
}

.list-item.card-is-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.btn {
  padding: 19px 38px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #FBAB7E;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
  cursor: pointer;
}

.title {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  font-family: 'Rocher';
  base-palette: 3;
}

.text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
